#all-certifications {
  margin-bottom: 50px;
}

.achievement-cards-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 30px;
  justify-items: center;
}

@media (max-width: 768px) {
  .achievement-cards-grid {
    grid-template-columns: 1fr;
  }
}
